*.log
cms/
content/backups/
content/cache/
content/plugins/advanced-custom-fields/
content/plugins/akismet/
content/plugins/codestyling-localization/
content/themes/twentytwelve/
content/uploads/
sitemap.xml
sitemap.xml.gz