*.log
/index.php
content/backups
content/cache
content/lang
content/plugins/acf-flexible-content
content/plugins/acf-options-page
content/plugins/acf-repeater
content/plugins/advanced-custom-fields
content/plugins/akismet
content/plugins/force-regenerate-thumbnails
content/plugins/mp6
content/plugins/multisite-language-switcher
content/plugins/network-plugin-auditor
content/plugins/wordpress-seo
content/plugins/wp-retina-2x
content/plugins/index.php
content/themes/twentythirteen
content/themes/index.php
content/index.php
content/upgrade
content/uploads
IMG-Portfolio
wp-admin
wp-includes
wp-*.php
xmlrpc.php
--static
