*.log
cms/
content/backups
content/cache
content/plugins/advanced-custom-fields
content/plugins/akismet
content/plugins/mp6
content/plugins/polylang
content/plugins/wordpress-seo
content/plugins/wp-retina-2x
content/themes/gp3/fonts
content/themes/twentythirteen
content/upgrade
content/uploads