// Home Slider
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


.slide {
	position: relative;
	overflow: auto;
}

.slide-item {
	display: block;
	float: left;
	list-style: none;
	position: relative;
	img {
		height: auto;
		width: 100%;
	}
	a {
		color: $color-bg;
	}
}

.slide-txt {
	background: rgba(0,0,0,.75);
	bottom: 0;
	height: 70px;
	padding: 5px 15px;
	position: absolute;
	width: 100%;
	p {
		line-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}