// Forms
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


.contact-form {
	padding: 15px 15px 0;
	h1 {
		margin: 0 0 10px;
	}
	@media (min-width: 650px),
	       print {
		float: right;
		width: 70%;
	}
	@media (min-width: 1000px) {
		width: 80%;
	}
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	border: 1px solid $color-txt2 {
		radius: 3px;
	}
	line-height: 28px;
	padding: 0 5px;
	transition: box-shadow .3s ease;
	width: 100%;
	&:hover {
		box-shadow: 0 0 2px $color-txt2;
	}
	&:focus,
	&:active {
		border-color: $color;
		box-shadow: 0 0 2px $color;
		outline: 0;
	}
}

textarea {
	height: 100px;
	line-height: 1.4em;
	padding: 5px;
}

label {
	font-weight: 600;
	line-height: 25px;
}

.contact-form form {
	p:nth-child(odd) {
		padding-top: 10px;
	}
}

input[type="submit"] {
	background: $color;
	border: 1px solid darken($color, 10%) {
		radius: 3px;
	}
	color: $color-bg;
	line-height: 28px;
	margin-top: 5px;
	padding: 0 5px;
	text-shadow: 0 0 3px darken($color, 20%);
	transition: background .3s ease, border-color .3s ease, text-shadow .3s ease;
	width: 100%;
	&:hover,
	&:focus {
		background: $color2;
		border-color: darken($color2, 10%);
		text-shadow: 0 0 3px darken($color2, 20%);
		outline: 0;
	}
	&:active {
		background: $color-txt;
		border-color: $color-txt;
		text-shadow: none;
	}
}