// Project
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


.project-title,
.project-subtitle {
	padding: 0 15px;
	@media print {
		padding: 0;
	}
}

.project-title {
	padding-top: 10px;
}

.project-subtitle {
	color: $color-txt2;
	padding-bottom: 15px;
}

.project-more {
	border-top: 1px dotted $color-txt2;
	display: block;
	font-weight: 700;
	line-height: 35px;
	transition: background .3s ease, color .3s ease;
	text: {
		align: center;
		transform: uppercase;
	}
	&:hover {
		background: rgb(241, 241, 241);
		color: $color-txt;
	}
	&:active {
		color: $color2;
	}
	@media (min-width: 650px),
	       print {
		display: none;
	}
}

.project-charact {
	@extend %clear-fix;
	display: none;
	padding: 0 15px 15px;
	@media (min-width: 650px),
	       print {
		display: block;
	}
	@media (min-width: 900px) {
		float: left;
		width: 32.5%;
	}
	@media (min-width: 1100px) {
		width: 22.5%;
	}
	@media print {
		padding: 0;
	}
}

.project-charact-title {
	color: $color;
	font-weight: 700;
}

.project-charact-list {
	list-style: none;
	li {
		margin-bottom: 5px;
	}
	a {
		color: $color-txt;
		&:hover {
			color: $color2;
		}
		&:active {
			color: $color-txt;
		}
	}
	@media (min-width: 650px),
	       print {
		float: left;
		width: 35%;
	}
	@media (min-width: 900px) {
		width: 100%;
	}
}

.project-with {
	a {
		color: $color;
		&:hover {
			color: $color2;
		}
		&:active {
			color: $color-txt;
		}
	}
}

.project-description {
	padding-top: 10px;
	@media (min-width: 650px),
	       print {
		float: left;
		margin-left: 2.5%;
		padding-top: 0;
		width: 62.5%;
	}
	@media (min-width: 900px) {
		margin-left: 0;
		padding-top: 10px;
		width: 100%;
	}
}

.project-content {
	@media (min-width: 900px) {
		float: left;
		margin-left: 2.5%;
		width: 65%;
	}
	@media (min-width: 1100px) {
		width: 75%;
	}
}

.project-content-item + .project-content-item {
	margin-top: 10px;
}

.project-content-item.half + .project-content-item.half {
	margin-top: 0;
}

.project-content-item.half + .project-content-item.half + .project-content-item.half {
	margin-top: 10px;
}

.project-content-item.half:nth-child(odd) {
	padding-right: 6px;
}

.project-content-item.half:nth-child(even) {
	padding-left: 6px;
}

.project-img {
	height: auto;
	width: 100%;
	@media (min-width: 650px),
	       print {
		&.half {
			float: left;
			width: 50%;
		}
	}
}

.project-flash,
.project-img.full,
.project-issuu,
.project-video {
	clear: both;
}

.project-issuu,
.project-video {
	height: 0;
	position: relative;
	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.project-issuu {
	padding-bottom: 65%;
}