// Work base styles
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


.portfolio {
	padding: 0 10px;
}

.portfolio-item {
	display: block;
	float: left;
	position: relative;
	padding: 20px 10px 0;
	width: 100%;
	a {
		color: $color-bg;
	}
	img {
		height: auto;
		width: 100%;
	}
	@media (min-width: 900px) {
		img {
			background: $color-bg;
			opacity: .65;
			transition: opacity .3s ease;
		}
		&:hover img {
			opacity: 1;
		}
	}
	@media (min-width: 375px) {
		width: 50%;
	}
	@media (min-width: 650px) {
		width: 33.3333333333%;
	}
	@media (min-width: 900px) {
		width: 25%;
	}
}

.portfolio-item-txt {
	background: rgba(0,0,0,.75);
	bottom: 0;
	height: 35px;
	padding: 0 15px;
	position: absolute;
	width: calc(100% - 20px);
	p {
		line-height: 35px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.taxonomy-title {
	padding: 15px 15px 0;
}