// Header
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


.header {
	@extend %clear-fix;
	background: $color-bg2; // Fallback
	background: $color-bg2a;
	border-top: 5px solid $color;
	padding: 15px 0;
	width: 100%;
	@media (min-height: 700px) and (min-width: 1200px) {
		position: fixed;
		z-index: 1;
	}
	@media print {
		background: $color-bg;
		border-top: none;
		padding: 0;
	}
}

.logo {
	display: block;
	float: left;
	height: 50px;
	text-align: center;
	width: 50%;
	@media (min-width: 650px) {
		width: 30%;
	}
	@media print {
		text-align: left;
	}
	img {
		max-height: 50px;
		max-width: 80%;
	}
}