/**
 * Header
 * @package WordPress
 * @subpackage GuillemAndreu.com
 * @since GuillemAndreu.com 3.0.0
 */

.header {
	@extend %clear-fix;
	background: $color-bg2;
	border-bottom: 1px solid darken($color-bg2, 10%);
	padding: 15px 0;
}

.logo {
	float: left;
	height: 50px;
	text-align: center;
	width: 50%;
	img {
		max-height: 50px;
		max-width: 80%;
	}
}