// Menu
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


.menu {
	li {
		display: inline-block;
		text-align: center;
	}
	a {
		border-radius: 3px;
		display: block;
		font-weight: 800;
		letter-spacing: 1px;
		line-height: 40px;
		text-transform: uppercase;
		transition: background .3s ease, color .3s ease;
		white-space: pre;
		&:hover {
			background: rgba(255,255,255,.4);
			color: $color-txt;
		}
		&:active {
			color: $color2;
		}
	}
	.menu-switch {
		float: right;
		margin: 5px 7% 0 0;
		text-align: center;
		width: 35%;
		@media (min-width: 650px) {
			display: none;
		}
	}
	@media (min-width: 650px) {
		float: left;
		margin: 0 5% 0 0;
		width: 65%;
	}
	@media print {
		display: none;
	}
}

.menu-list {
	clear: both;
	display: none;
	padding-top: 5px;
	width: 100%;
	> li {
		margin: 10px 2.5% 0;
		vertical-align: top;
		width: 45%;
		&:nth-child(3),
		&:nth-child(4) {
			margin-top: 5px;
		}
	}
	@media (min-width: 480px) {
		padding-top: 15px;
		> li {
			margin: 0 2.5%;
			width: 20%;
			&:nth-child(3),
			&:nth-child(4) {
				margin-top: 0;
			}
		}
	}
	@media (min-width: 650px) {
		display: block;
		padding: 0;
		> li > a {
			line-height: 50px;
		}
	}
}

.language-submenu {
	width: 100%;
	> li {
		margin: 0;
		width: 33.3333333333%;
		@media (min-width: 650px) {
			> a {
				line-height: 50px;
			}
		}
	}
	.current {
		color: $color-txt;
		font-weight: 800;
	}
}
