// Fonts
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


@mixin font-face($font-family, $file-name, $font-weight, $font-style: normal) {
	@font-face {
		font-family: $font-family;
		src: url("fonts/#{$file-name}.woff") format("woff"),
		     url("fonts/#{$file-name}.ttf")  format("truetype");
		font-weight: $font-weight;
		font-style: $font-style;
	}
}


@include font-face("Open Sans", "opensans-light", 300);
// @include font-face("Open Sans", "opensans-lightitalic", 300, italic);
@include font-face("Open Sans", "opensans-regular", 400);
@include font-face("Open Sans", "opensans-italic", 400, italic);
@include font-face("Open Sans", "opensans-semibold", 600);
@include font-face("Open Sans", "opensans-semibolditalic", 600, italic);
@include font-face("Open Sans", "opensans-bold", 700);
// @include font-face("Open Sans", "opensans-bolditalic", 700, italic);
@include font-face("Open Sans", "opensans-extrabold", 800);
// @include font-face("Open Sans", "opensans-extrabolditalic", 800, italic);
