// Reset & Normalize
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0

html {
  box-sizing: border-box;

}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, input, textarea, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font: inherit {
		size: 100%;
	}
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

a img {
	border: 0;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

audio, canvas, video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

b,
strong {
	font-weight: bold;
}

blockquote, q {
	quotes: "«" "»" "“" "”" "‘" "’";
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}

body {
	line-height: 1;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

code, kbd, pre, samp {
	font: {
		family: monospace;
		size: 1em;
	}
}

dfn {
	font-style: italic;
}

legend {
	white-space: normal;
}

[hidden] {
	display: none;
}

hr {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

input, select {
	vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
	height: 13px !important;
	width: 13px !important;
}

mark {
	background: #ff0;
	color: #000;
}

nav ul {
	list-style: none;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

svg:not(:root) {
	overflow: hidden;
}

table {
	border: {
		collapse: collapse;
		spacing: 0;
	}
}

textarea {
	overflow: auto;
	vertical-align: top;
}
