// Variables
// @package WordPress
// @subpackage GuillemAndreu.com
// @since GuillemAndreu.com 3.0.0


// Colors
$color:      rgb(160, 34,  13);
$color2:     rgb(186, 218, 85);
$color-txt:  rgb(34,  34,  34);
$color-txt2: rgb(153, 153, 153);
$color-bg:   rgb(255, 255, 255);
$color-bg2:  rgb(235, 235, 235);
$color-bg2a: rgba(232, 232, 232, .9);

// Tipography
$fonts: "Open Sans", sans-serif;
